In [29]:
import pandas as pd
import json
import numpy as np
import math

# Globally

In [2]:
fisher_av_sw = pd.read_excel("Tests/Globally/fisher/av_sw.xlsx")
fisher_sw_hu = pd.read_excel("Tests/Globally/fisher/sw_hu.xlsx")
fisher_hu_av = pd.read_excel("Tests/Globally/fisher/hu_av.xlsx")
fisher_av_hu = pd.read_excel("Tests/Globally/fisher/av_hu.xlsx")
fisher_hu_sw = pd.read_excel("Tests/Globally/fisher/hu_sw.xlsx")
fisher_sw_av = pd.read_excel("Tests/Globally/fisher/sw_av.xlsx")

In [3]:
kl_av_sw = pd.read_excel("Tests/Globally/kl/av_sw.xlsx")
kl_sw_hu = pd.read_excel("Tests/Globally/kl/sw_hu.xlsx")
kl_hu_av = pd.read_excel("Tests/Globally/kl/hu_av.xlsx")
kl_av_hu = pd.read_excel("Tests/Globally/kl/av_hu.xlsx")
kl_hu_sw = pd.read_excel("Tests/Globally/kl/hu_sw.xlsx")
kl_sw_av = pd.read_excel("Tests/Globally/kl/sw_av.xlsx")

In [4]:
student_av_sw = pd.read_excel("Tests/Globally/student/av_sw.xlsx")
student_sw_hu = pd.read_excel("Tests/Globally/student/sw_hu.xlsx")
student_hu_av = pd.read_excel("Tests/Globally/student/hu_av.xlsx")
student_av_hu = pd.read_excel("Tests/Globally/student/av_hu.xlsx")
student_hu_sw = pd.read_excel("Tests/Globally/student/hu_sw.xlsx")
student_sw_av = pd.read_excel("Tests/Globally/student/sw_av.xlsx")

In [5]:
lime_av_sw = pd.read_excel("Tests/Globally/lime/simlab_res/av_sw.xlsx")
lime_sw_hu = pd.read_excel("Tests/Globally/lime/simlab_res/sw_hu.xlsx")
lime_hu_av = pd.read_excel("Tests/Globally/lime/simlab_res/hu_av.xlsx")
lime_av_hu = pd.read_excel("Tests/Globally/lime/simlab_res/av_hu.xlsx")
lime_hu_sw = pd.read_excel("Tests/Globally/lime/simlab_res/hu_sw.xlsx")
lime_sw_av = pd.read_excel("Tests/Globally/lime/simlab_res/sw_av.xlsx")

In [6]:
student_av_sw

Empty DataFrame
Columns: [Unnamed: 0, index, classes, codon, statistic, pvalue, foldChange, key]
Index: []

In [7]:
codons = np.unique(np.concatenate((
list(fisher_av_sw['codon']),
list(kl_av_sw['codons']),
list(student_av_sw['codon']),
list(lime_av_sw['Codon']),
list(fisher_sw_hu['codon']),
list(kl_sw_hu['codons']),
list(student_sw_hu['codon']),
list(lime_sw_hu['Codon']),
list(fisher_hu_av['codon']),
list(kl_hu_av['codons']),
list(student_hu_av['codon']),
list(lime_hu_av['Codon']),
list(fisher_av_hu['codon']),
list(kl_av_hu['codons']),
list(student_av_hu['codon']),
list(lime_av_hu['Codon']),
list(fisher_hu_sw['codon']),
list(kl_hu_sw['codons']),
list(student_hu_sw['codon']),
list(lime_hu_sw['Codon']),
list(fisher_sw_av['codon']),
list(kl_sw_av['codons']),
list(student_sw_av['codon']),
list(lime_sw_av['Codon'])
)))

In [8]:
codons

array(['AAA', 'AAC', 'AAG', 'AAT', 'ACA', 'ACC', 'ACG', 'ACT', 'AGA',
       'AGC', 'AGG', 'AGT', 'ATA', 'ATC', 'ATG', 'ATT', 'CAA', 'CAC',
       'CAG', 'CAT', 'CCA', 'CCC', 'CCG', 'CCT', 'CGA', 'CGC', 'CGG',
       'CGT', 'CTA', 'CTC', 'CTG', 'CTT', 'GAA', 'GAC', 'GAG', 'GAT',
       'GCA', 'GCC', 'GCG', 'GCT', 'GGA', 'GGC', 'GGG', 'GGT', 'GTA',
       'GTC', 'GTG', 'GTT', 'TAC', 'TAT', 'TCA', 'TCC', 'TCG', 'TCT',
       'TGC', 'TGG', 'TGT', 'TTA', 'TTC', 'TTG', 'TTT'], dtype='<U32')

In [9]:
codons = ['AAA', 'AAC', 'AAG', 'AAT', 'ACA', 'ACC', 'ACG', 'ACT', 'AGA', 'AGC', 'AGG', 'AGT', 'ATA', 'ATC', 'ATG', 'ATT', 'CAA', 'CAC', 'CAG', 'CAT', 'CCA', 'CCC', 'CCG', 'CCT', 'CGA', 'CGC', 'CGG', 'CGT', 'CTA', 'CTC', 'CTG', 'CTT', 'GAA', 'GAC', 'GAG', 'GAT', 'GCA', 'GCC', 'GCG', 'GCT', 'GGA', 'GGC', 'GGG', 'GGT', 'GTA', 'GTC', 'GTG', 'GTT', 'TAC', 'TAT', 'TCA', 'TCC', 'TCG', 'TCT', 'TGC', 'TGG', 'TGT', 'TTA', 'TTC', 'TTG', 'TTT']

In [10]:
classes = ['av_sw', 'sw_hu', 'hu_av', 'av_hu', 'hu_sw', 'sw_av']

In [11]:
res = np.zeros((len(codons), len(classes)))
res_df = pd.DataFrame(res, index=codons, columns=classes)

In [12]:
fisher_av_sw.head(1)

,Unnamed: 0,index,classes,codon,oddsratio,pvalue,key,column
0,0,4,av_sw av,ACA,0.973982,0.012509,Significant Up *,ACA*

In [13]:
def globally_scores(fisher, kl, student, lime, res_df, classe):
    for i in range(len(fisher)):
        res_df[classe][fisher['codon'][i]] += 1
    for i in range(len(kl)):
        res_df[classe][kl['codons'][i]] += 1
    for i in range(len(student)):
        res_df[classe][student['codon'][i]] += 1
    for i in range(len(lime)):
        res_df[classe][lime['Codon'][i]] += 1
    return res_df

In [14]:
classes = ['av_sw', 'sw_hu', 'hu_av', 'av_hu', 'hu_sw', 'sw_av']

In [15]:
res_df

     av_sw  sw_hu  hu_av  av_hu  hu_sw  sw_av
AAA    0.0    0.0    0.0    0.0    0.0    0.0
AAC    0.0    0.0    0.0    0.0    0.0    0.0
AAG    0.0    0.0    0.0    0.0    0.0    0.0
AAT    0.0    0.0    0.0    0.0    0.0    0.0
ACA    0.0    0.0    0.0    0.0    0.0    0.0
..     ...    ...    ...    ...    ...    ...
TGT    0.0    0.0    0.0    0.0    0.0    0.0
TTA    0.0    0.0    0.0    0.0    0.0    0.0
TTC    0.0    0.0    0.0    0.0    0.0    0.0
TTG    0.0    0.0    0.0    0.0    0.0    0.0
TTT    0.0    0.0    0.0    0.0    0.0    0.0

[61 rows x 6 columns]

In [16]:
res_df = globally_scores(fisher_av_sw, kl_av_sw, student_av_sw, lime_av_sw, res_df, classes[0])
res_df = globally_scores(fisher_sw_hu, kl_sw_hu, student_sw_hu, lime_sw_hu, res_df, classes[1])
res_df = globally_scores(fisher_hu_av, kl_hu_av, student_hu_av, lime_hu_av, res_df, classes[2])
res_df = globally_scores(fisher_av_hu, kl_av_hu, student_av_hu, lime_av_hu, res_df, classes[3])
res_df = globally_scores(fisher_hu_sw, kl_hu_sw, student_hu_sw, lime_hu_sw, res_df, classes[4])
res_df = globally_scores(fisher_sw_av, kl_sw_av, student_sw_av, lime_sw_av, res_df, classes[5])

In [17]:
len(res_df)

61

In [18]:
res_df

     av_sw  sw_hu  hu_av  av_hu  hu_sw  sw_av
AAA    1.0    1.0    2.0    1.0    2.0    0.0
AAC    1.0    1.0    1.0    1.0    1.0    0.0
AAG    1.0    2.0    2.0    1.0    1.0    2.0
AAT    1.0    1.0    1.0    1.0    1.0    0.0
ACA    2.0    2.0    1.0    1.0    1.0    1.0
..     ...    ...    ...    ...    ...    ...
TGT    1.0    1.0    2.0    2.0    1.0    1.0
TTA    1.0    1.0    1.0    3.0    1.0    1.0
TTC    2.0    1.0    2.0    1.0    1.0    1.0
TTG    1.0    0.0    2.0    3.0    1.0    0.0
TTT    2.0    1.0    1.0    1.0    1.0    1.0

[61 rows x 6 columns]

## foldChange

In [19]:
foldChange_av_sw = pd.read_excel("Tests/Globally/foldChange/av_sw.xlsx")
foldChange_sw_hu = pd.read_excel("Tests/Globally/foldChange/sw_hu.xlsx")
foldChange_hu_av = pd.read_excel("Tests/Globally/foldChange/hu_av.xlsx")
foldChange_av_hu = pd.read_excel("Tests/Globally/foldChange/av_hu.xlsx")
foldChange_hu_sw = pd.read_excel("Tests/Globally/foldChange/hu_sw.xlsx")
foldChange_sw_av = pd.read_excel("Tests/Globally/foldChange/sw_av.xlsx")

In [20]:
import math

In [21]:
def sign_calculation(data, foldChange, classe):
    """
    fold_change_df should be a dataframe contain cols : (codon, fold_change)
        (FC<1) -> +
        (FC=inf) -> +
        (FC=>1) -> -
    """
    for i in range(len(foldChange)):
        codon = foldChange['codon'][i]
        fold = foldChange['foldChange'][i]
        if math.isinf(fold):
            signe = 1
        elif fold < 1:
            signe = -1
        elif fold >= 1:
            signe = 1
        
        data.loc[codon][classe] *= signe
    return data

In [22]:
res_df = sign_calculation(res_df, foldChange_av_sw, "av_sw")
res_df = sign_calculation(res_df, foldChange_sw_hu, "sw_hu")
res_df = sign_calculation(res_df, foldChange_hu_av, "hu_av")
res_df = sign_calculation(res_df, foldChange_av_hu, "av_hu")
res_df = sign_calculation(res_df, foldChange_hu_sw, "hu_sw")
res_df = sign_calculation(res_df, foldChange_sw_av, "sw_av")

In [23]:
res_df

     av_sw  sw_hu  hu_av  av_hu  hu_sw  sw_av
AAA    1.0    1.0   -2.0    1.0   -2.0   -0.0
AAC   -1.0    1.0    1.0   -1.0   -1.0   -0.0
AAG   -1.0    2.0    2.0    1.0    1.0    2.0
AAT    1.0    1.0   -1.0   -1.0   -1.0   -0.0
ACA   -2.0    2.0   -1.0    1.0   -1.0    1.0
..     ...    ...    ...    ...    ...    ...
TGT    1.0    1.0   -2.0    2.0   -1.0   -1.0
TTA    1.0    1.0   -1.0    3.0   -1.0   -1.0
TTC   -2.0    1.0    2.0   -1.0   -1.0    1.0
TTG    1.0    0.0   -2.0    3.0   -1.0    0.0
TTT    2.0   -1.0   -1.0    1.0   -1.0   -1.0

[61 rows x 6 columns]

In [405]:
res_df.to_excel('scores/globally/globally_scores.xlsx')

In [24]:
res_df.to_csv('scores/globally/globally_scores.csv')

# Gene

In [25]:
def genes_scores(fisher, kl, student, lime, score_df, classe):
    for i in range(len(fisher)):
        score_df[classe][fisher['codon'][i]] += 1
    for i in range(len(kl)):
        score_df[classe][kl['codons'][i]] += 1
    for i in range(len(student)):
        score_df[classe][student['codon'][i]] += 1
    for i in range(len(lime)):
        score_df[classe][lime['Codon'][i]] += 1
    return score_df

In [26]:
classes = ["swine_avian", "avian_swine", "human_avian", "avian_human", "human_swine", "swine_human"]
codons = ['AAA', 'AAC', 'AAG', 'AAT', 'ACA', 'ACC', 'ACG', 'ACT', 'AGA', 'AGC', 'AGG', 'AGT', 'ATA', 'ATC', 'ATG', 'ATT', 'CAA', 'CAC', 'CAG', 'CAT', 'CCA', 'CCC', 'CCG', 'CCT', 'CGA', 'CGC', 'CGG', 'CGT', 'CTA', 'CTC', 'CTG', 'CTT', 'GAA', 'GAC', 'GAG', 'GAT', 'GCA', 'GCC', 'GCG', 'GCT', 'GGA', 'GGC', 'GGG', 'GGT', 'GTA', 'GTC', 'GTG', 'GTT', 'TAC', 'TAT', 'TCA', 'TCC', 'TCG', 'TCT', 'TGC', 'TGG', 'TGT', 'TTA', 'TTC', 'TTG', 'TTT']

In [27]:
genes = ['NS', 'NP', 'MP', 'PB2', 'PB1', 'HA', 'PA', 'NA']

In [28]:
res = np.zeros((len(codons), len(classes)))
scores = pd.DataFrame(res, index=codons, columns=classes)

In [29]:
for g in genes:
    res = np.zeros((len(codons), len(classes)))
    scores = pd.DataFrame(res, index=codons, columns=classes)
    for i in range(len(classes)):
        fisher = pd.read_excel("Tests/Genes/fisher/" + classes[i] + "/"+ g + ".xlsx")
        kl = pd.read_excel("Tests/Genes/kl/" + classes[i] + "/"+ g + ".xlsx")
        student = pd.read_excel("Tests/Genes/student/" + classes[i] + "/"+ g + ".xlsx")
        lime = pd.read_excel("Tests/Genes/lime/" + classes[i] + "_"+ g + ".xlsx") # Added

        scores = genes_scores(fisher, kl, student, lime, scores, classes[i])
    scores.to_excel("scores/" + g + ".xlsx")

## foldChange

In [30]:
import math

In [31]:
# def sign(fold_change_df, scores):
#     """
#     fold_change_df should be a dataframe with 2 col : (codon, fold_change)
#         (FC<1) -> +
#         (FC=inf) -> +
#         (FC=>1) -> -
#     """
#     for i in range(len(fold_change_df)):
#         signe = 1
#         if math.isinf(fold_change_df['fold_change'][i]):
#             signe = +1
#         elif fold_change_df['fold_change'][i] < 1:
#             signe = -1
#         elif fold_change_df['fold_change'][i] >= 1:
#             signe = +1
#         scores.loc[fold_change_df['codon'][i]] *= signe
#     return scores

In [32]:
for g in genes:
    res = np.zeros((len(codons), len(classes)))
    foldchange = pd.DataFrame([], columns=["codon", "classes", "foldChange"])
    for i in range(len(classes)):
        fc = pd.read_excel("Tests/Genes/foldChange/" + classes[i] + "/"+ g + ".xlsx")
        foldchange = foldchange.append(fc[["classes", "codon", "foldChange"]] , ignore_index=True)
    foldchange.to_excel("scores/gene/foldchange_" + g + ".xlsx")

In [33]:
for g in genes:
    # Calculate scores
    res = np.zeros((len(codons), len(classes)))
    scores = pd.DataFrame(res, index=codons, columns=classes)
    for i in range(len(classes)):
        fisher = pd.read_excel("Tests/Genes/fisher/" + classes[i] + "/"+ g + ".xlsx")
        kl = pd.read_excel("Tests/Genes/kl/" + classes[i] + "/"+ g + ".xlsx")
        student = pd.read_excel("Tests/Genes/student/" + classes[i] + "/"+ g + ".xlsx")
        lime = pd.read_excel("Tests/Genes/lime/" + classes[i] + "_"+ g + ".xlsx") # Added

        scores = genes_scores(fisher, kl, student, lime, scores, classes[i])
    
    # Load foldChange for each gene, and affect signes to scores
    foldChange = pd.read_excel("scores/gene/foldchange_" + g + ".xlsx")
    for i in range(len(foldChange)):
        signe = 1
        if math.isinf(foldChange['foldChange'][i]):
            signe = +1
        elif foldChange['foldChange'][i] < 1:
            signe = -1
        elif foldChange['foldChange'][i] >= 1:
            signe = +1
        c = foldChange['classes'][i].split()[0]
        scores[c][foldChange['codon'][i]] *= signe
    
    # Save scores
    scores.to_csv("scores/gene/" + g + ".csv")

# Position

In [72]:
values = ["[0, 30]", "[31, 61]", "[62, 92]", "[93, 123]", "[124, 154]", "[155, 185]", "[186, 216]", "[217, 247]", "[248, 278]", "[279, 309]", "[310, 340]", "[341, 371]", "[372, 402]", "[403, 433]", "[434, 464]", "[465, 495]", "[496, 526]", "[527, 557]", "[558, 588]", "[589, 619]", "[620, 650]", "[651, 681]", "[682, 712]", "[713, 743]", "[744, 774]", "[775, 795]", "470", "[360, 362]", "[480, 499]", "[270, 296]", "[750, 780]", "[775, 805]", "[750, 758]", "[330, 336]", "[690, 717]", "[330, 339]", "[570, 592]", "[750, 760]", "[540, 567]"]
replaced_values = ["[0, 30]", "[30, 60]", "[60, 90]", "[90, 120]", "[120, 150]", "[150, 180]", "[180, 210]", "[210, 240]", "[240, 270]", "[270, 300]", "[300, 330]", "[330, 360]", "[360, 390]", "[390, 420]", "[420, 450]", "[450, 480]", "[480, 510]", "[510, 540]", "[540, 570]", "[570, 600]", "[600, 630]", "[630, 660]", "[660, 690]", "[690, 720]", "[720, 750]", "[750, 770]", "480", "[360, 390]", "[480, 510]", "[270, 300]", "[750, 770]", "[750, 770]", "[750, 770]", "[330, 360]", "[690, 720]", "[330, 360]", "[570, 600]", "[750, 770]", "[540, 570]"]

In [73]:
def uniform_positions(positions):
    for i in range(len(values)):
        positions = positions.replace(values[i], replaced_values[i])
    return positions

In [74]:
def scores_calculation(data, classe, gene, res_df=None):
    """
    
    """
    data = data[data['classes']==classe]
    data = data[data['genes']==gene]
    data = data.reset_index()
    
    # Fomrating position text
    for i in range(len(data)):
        pos = data['positions'][i].replace('*', '')
        data['positions'][i] = pos.replace("'", "")
    
    # unique_positions = np.unique([str(item) for i in range(len(data)) for item in json.loads(data['positions'][i])])
    unique_positions = ["[0, 30]", "[30, 60]", "[60, 90]", "[90, 120]", "[120, 150]", "[150, 180]", "[180, 210]", "[210, 240]",
                        "[240, 270]", "[270, 300]", "[300, 330]", "[330, 360]", "[360, 390]", "[390, 420]", "[420, 450]",
                        "[450, 480]", "[480, 510]", "[510, 540]", "[540, 570]", "[570, 600]", "[600, 630]", "[630, 660]",
                        "[660, 690]", "[690, 720]", "[720, 750]", "[750, 770]"] # Hard-coded
    
    # Create a zeros dataframe
    try:
        if res_df == None:
            unique_codons = data['codon'].unique()
            res = np.zeros((len(unique_codons), len(unique_positions)))
            res_df = pd.DataFrame(res, index=unique_codons, columns=unique_positions)
            print(f"Result DataFrame initialized")
    except:
        print(f"Result DataFrame exists")
    
    # Increment by 1 the score of position/codon
    for i in range(len(data)):
        positions = str(data['positions'][i])
        positions = uniform_positions(positions)
        l = [str(item) for item in json.loads(positions)]
        for item in l:
            # print(f"item: {item} codon : {data['codon'][i]}")
            res_df[item][data['codon'][i]] += 1
    
    return res_df

In [75]:
classes = ["Av_Hu", "Av_Sw", "Hu_Av", "Hu_Sw", "Sw_Av", "Sw_Hu"]
genes = ["HA", "MP", "NA", "NP", "NS", "PA", "PB1", "PB2"]

In [76]:
student_pos = pd.read_excel('Tests/Positions_new/student.xlsx')
fisher_pos = pd.read_excel('Tests/Positions_new/fisher.xlsx')
kl_pos = pd.read_excel('Tests/Positions_new/kl.xlsx')

In [77]:
student_pos = student_pos.fillna("NA")
fisher_pos = fisher_pos.fillna("NA")
kl_pos = kl_pos.fillna("NA")

In [78]:
for c in classes:
    for g in genes:
        scores = scores_calculation(student_pos, c, g, res_df=None)
        scores = scores_calculation(fisher_pos, c, g, res_df=scores)
        scores = scores_calculation(kl_pos, c, g, res_df=scores)
        scores.to_csv("scores/position/" + c + "_" + g + ".csv")

/cm/shared/apps/anaconda/3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists
Result DataFrame initialized
Result DataFrame exists
Result DataFrame exists

## FoldChange

In [97]:
data = pd.read_excel('Tests/Positions_new/foldChange.xlsx')

In [98]:
data = data.fillna('NA')

In [99]:
data.head()

,Unnamed: 0,codon,genes,classes,positions,fc,sign
0,0,AAA,NA,Av_Hu,"[[0, 30], [30, 60], [60, 90], [90, 120], [120,...","[0.375377919564564, 1.195641744263121, 1.12634...","[1, -1, -1, 1, -1, -1, 1, -1, 1, -1, -1, 1, 1,..."
1,1,AAA,NA,Av_Sw,"[[0, 30], [30, 60], [60, 90], [90, 120], [120,...","[0.6987032605570893, 2.080346805194999, 1.0244...","[1, -1, -1, -1, 1, 1, 1, 1, -1, -1, -1, -1, 1,..."
2,2,AAA,NA,Hu_Av,"[[0, 30], [30, 60], [60, 90], [90, 120], [120,...","[0.490911233438939, 0.0914298793730141, 2.1442...","[1, 1, -1, 1, 1, 1, -1, 1, -1, -1, 1, -1, -1, ..."
3,3,AAA,NA,Hu_Sw,"[[0, 30], [30, 60], [60, 90], [90, 120], [120,...","[0.3110277116952257, 0.36152389689469533, 1.20...","[1, 1, -1, 1, 1, 1, -1, 1, -1, -1, -1, 1, -1, ..."
4,4,AAA,NA,Sw_Av,"[[0, 30], [30, 60], [60, 90], [90, 120], [120,...","[0.5823530585570754, 0.6758921953048931, 1.274...","[1, 1, -1, 1, 1, 1, -1, -1, -1, -1, 1, 1, -1, ..."

In [100]:
dict_cols = {"[0, 30]": 30, "[30, 60]": 60, "[60, 90]": 90, "[90, 120]": 120, "[120, 150]": 150, "[150, 180]": 180, "[180, 210]": 210, "[210, 240]": 240,
                        "[240, 270]": 270, "[270, 300]": 300, "[300, 330]": 330, "[330, 360]": 360, "[360, 390]": 390, "[390, 420]": 420, "[420, 450]": 450,
                        "[450, 480]": 480, "[480, 510]": 510, "[510, 540]": 540, "[540, 570]": 570, "[570, 600]": 600, "[600, 630]": 630, "[630, 660]": 660,
                        "[660, 690]": 690, "[690, 720]": 720, "[720, 750]": 750, "[750, 770]": 770}

In [101]:
dict_cols = {30:0 , 60:1 , 90:2 , 120:3 , 150:4 , 180:5 , 210:6 , 240:7 ,
                        270:8 , 300:9 , 330:10 , 360:11 , 390:12 , 420:13 , 450:14 ,
                        480: 15 , 510:16 , 540:17 , 570:18 , 600:19 , 630:20 , 660:21 ,
                        690:22 , 720:23 , 750:24 , 770:25 }

In [102]:
dict_classes = {'Av_Hu': "avian", 'Av_Sw': "avian", 'Hu_Av': "human", 'Hu_Sw': "human", 'Sw_Av': "swine", 'Sw_Hu': "swine"}

In [103]:
max_lenght = {
    "avian_NA" : 470,
    "avian_PA" : 780,
    "avian_HA" : 592,
    "avian_PB1" : 758,
    "avian_PB2" : 760,
    "avian_MP" : 362,
    "avian_NP" : 499,
    "avian_NS" : 296,
    "human_NA" : 470,
    "human_PA" : 717,
    "human_HA" : 567,
    "human_PB1" : 758,
    "human_PB2" : 760,
    "human_MP" : 336,
    "human_NP" : 499,
    "human_NS" : 296,
    "swine_NA" : 470,
    "swine_PA" : 717,
    "swine_HA" : 567,
    "swine_PB1" : 758,
    "swine_PB2" : 760,
    "swine_MP" : 339,
    "swine_NP" : 499,
    "swine_NS" : 296
}

In [106]:
def find_max_index(cg_max):
    for index in dict_cols.keys():
        if cg_max <= index:
            return dict_cols[index]+1
    return 26

In [109]:
for c in classes:
    for g in genes:
        scores = pd.read_csv("scores/position/" + c + "_" + g + ".csv", index_col=0)
        fc = data[data['classes']==c][data['genes']==g].reset_index()
        
        for i in range(len(fc)):
            codon = fc['codon'][i]
            
            positions = str(fc['positions'][i])
            positions = uniform_positions(positions)
            foldChange_positions = [str(item) for item in json.loads(positions)]
            foldChange_values = np.array([str(item) for item in json.loads(fc['sign'][i])], dtype='int64')

            for i, p in enumerate(foldChange_positions):
                scores.loc[codon][p] *= foldChange_values[i]
        cg_max = max_lenght[dict_classes[c] + "_" + g]
        idx_max = find_max_index(cg_max)
        scores = scores.iloc[:, :idx_max]
        scores.to_csv("scores/position/signed_" + c + "_" + g + ".csv")

/cm/shared/apps/anaconda/3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.